<?xml version="1.0" encoding="UTF-8" ?>
<packages>
  <!-- Deployment -->
  <package id="Cake" version="0.23.0" />

  <!-- Instrumentation -->
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net45" />
  
  <!-- Test Drivers -->
  <package id="Akka" version="1.3.5" />
  <package id="Akka.Remote" version="1.3.5" />
  <package id="DotNetty.Handlers" version="0.4.7" />
  <package id="DotNetty.Buffers" version="0.4.7" />
  <package id="DotNetty.Codecs" version="0.4.7" />
  <package id="DotNetty.Common" version="0.4.7" />
  <package id="DotNetty.Transport" version="0.4.7" />
  <package id="Google.Protobuf" version="3.5.1" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" />
  <package id="System.Collections.Immutable" version="1.4.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" />
  <package id="Newtonsoft.Json" version="11.0.1" />

  <!-- Test Design -->
  <package id="NUnit" version="3.9.0" />
  <package id="Shouldly" version="3.0.0" />
</packages>
